pip>=9
setuptools>=26
wheel>=0.29
pandas
nltk
pytest
coverage
flake8
black
yapf
python-gitlab
twine
mlflow
memoized_property
google-cloud-storage==1.26.0
pandas==0.24.2
pandas-profiling==2.9.0
scikit-image==0.17.2
scikit-learn==0.20.4
gcsfs==0.6.0
